.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Reset margin and padding for the body and html to remove unwanted space */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a consistent background color */
html {
  height: 100%;
  background-color: #111827; /* Light mode background */
  font-family: 'Arial', sans-serif;
}

/* Ensure the app fills the height of the viewport */
#root {
  height: 100%;
}

/* Apply smooth transitions for background and color changes 
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Optional: Smooth transitions for dark mode toggle 
button {
  transition: background-color 0.3s ease;
}
*/

/* Add in App.css */

.media-container {
  width: 100%;
  /*transition: all 0.3s ease;  Smooth transition when toggling */
}

.media-container.normal {
  height: 350px; /* Normal height for the media */
}

.media-container.fullscreen {
  height: 100vh; /* Full screen height */
}

button.fullscreen-toggle {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

button.fullscreen-toggle:hover {
  background-color: #0056b3;
}